* text=auto

*.bat text eol=crlf
*.cpp text eol=lf
*.hpp text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.md text eol=lf
*.properties text eol=lf
*.toml text eol=lf
*.xml text eol=lf
app/src/main/assets/endgames/chinese_chess/*.txt text eol=lf
CMakeLists.txt text eol=lf
gradlew text eol=lf

*.jar binary
*.nnue binary
*.webp binary
